<html>
<head>
    <meta charset="UTF-8">
    <title>Mark fizzbuzz, Node | Typescript test</title>
</head>
<body>
<div class="container">
    <h1>Welcome <%=user %></h1>
    <ul>
        <% for (let i=0; i < list.length; i++) { %>
        <li><%=list[i] %></li>
        <% } %>
    </ul>
</div>
</body>
</html>

